HOSTNAME=publicdatafeeds.networkrail.co.uk 
PORT=61618
FEED_USERNAME=your@username.org
FEED_PASSWORD=YouR_PASsw0rd
# LOCS are three colon-separated location codes, representing:
# - the location prior to the point (which is when the alert needs to be sent)
# - the location after the opint (which is when the alert needs to be cleared)
# - the cardinal direction of travel for putting on the message
# eg. LOCS=CC0680:CCBURD:W,CCB017:CC0679:E
LOCS=
# TIPLOC is a code representing a location on the line on which the locations lie
# This is required because a headcode may be used on a number of services and schedules,
# so if the TIPLOC is a passing point, the correct one can be found
# eg. TIPLOC=BSTEDMS
TIPLOC=
# HEADCODES are trains that are of specific interest. This is optional
# HEADCODES=